* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", system-ui ;
}

body {
  background-image: url('../asset/img/pexels-eberhard-grossgasteiger-1367192.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
}

.header-top {
  width: 100%;
  height: 70px;
  text-align: center;
  background-color:rgba(142, 223, 120, 0.25);
  
}

.header-top h1 {
  text-align: center;
}

.header-container {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  z-index: 100;
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px); 
  background-color: rgba(46, 204, 113, 0.8);
  
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo h2 {
  font-weight: 400;
  font-size: 40px;
  font-style: italic;
  color: white;
}
.img-header {
  width: 50px;
  margin: 0 15px;
}

.header-list ul {  
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-list ul li {
  margin: 0 20px;
}

.header-list ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  color: #ffffff;
}

#article-one {
  display: flex;
  justify-content: center;
}

.text-container {
  margin: 20px;
}


.card-container h1 {
  width: 700px;
  height: 100px;
  color: white;
  position: relative;
  left: 100px;
  top: 200px;
  font-size: 50px;
}

.card-container h2 {
  color: white;
  font-size: 50px;
  position: relative;
  top: 200px;
  left: 100px;
}

.auto-type {
  color: yellow;
}

.svg-programmer {
  width: 400px;
  height: auto;
  position: relative;
  top: 100px;
  right: 100px;
  animation: floatAnimation 2s infinite ease-in-out;
}

#article-one {
  display: flex;
  justify-content: space-between;
}

.card-two {
  display: flex;
  width: 100%;
  height:400px;
  position: relative;
  top: 200px;
  margin-bottom: 400px;
  background-color: rgba(0, 158, 124, 0.738);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
}


#diri-sendiri {  
  width: auto;
  height: 300px;
  position: relative;
  top: 50px;
  left: 100px;
  border-radius: 20px;
}

.about-container {
  position: relative;
  left: 120px;
  top: 50px;
  color: whitesmoke;
  font-weight: 100;
  width: 1000px;
  height: 400px;
}

.about-container h1 {
  margin-left: 40px;
  font-size: 40px;
  font-weight:400;
  width: 600px;
  
}

.about-container p {
  margin-left: 40px;
  width: 80%;
  font-size: 22px;
  text-align: justify;
}

#hamas {
  color: yellow;
  font-weight: 400;
}


.tech-container {
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.tech-container img {
  width: 300px;
}

.tech {
  width: 300px;
  height: 550px;
  overflow: hidden;
  border-radius: 8px;
  background-color: white;
  box-shadow: 5px -5px 16px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px -5px 16px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px -5px 16px -5px rgba(0,0,0,0.75);
  background-color: rgba(0, 158, 124, 0.738);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  
}

.tech-content {
  margin: 10px;
  color: whitesmoke;
}

.tech-content h2 {
  margin-bottom: 10px;
  margin-left: 7px;
}

.tech-content p {
  text-align: justify;
  margin: 5px;
}

.aside-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
}

.email-aside {
  width: 700px;
  height: 750px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 158, 124, 0.738);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
}

.img-aside {
  width: 700px;
  height: 500px;
  border-radius: 30px;
}

.img-aside img {
  margin-top: 70px;
  width: 700px;
  height: auto;
  position: absolute;
  animation: floatAnimation 2s infinite ease-in-out;
}

@keyframes floatAnimation {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px); 
  }
  100% {
      transform: translateY(0);
  }
}

.contact-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.contact-left-title h2 {
  color: whitesmoke;
  font-size: 40px;
}

.contact-left-title hr {
  background-color: rgb(202, 255, 29);
  width: 120px;
  height: 5px;
  border: none;
  border-radius: 5px;
}

.contact-input {
  width: 400px;
  height: 50px;
  border-radius: 25px;
  border: none;
  outline: none;
  padding-left: 25px;
}

.contact-left button {
  display: flex;
  align-items: center;
  width: 100px;
  transition: 0.5s;
}

.contact-left button:hover {
  background-color: #479a31;
}

.submit-button {
  display: flex;
  align-items: center;
  width: 100px;
  height: 50px;
  padding-left: 20px;
  border: none;
  border-radius: 20px;
  background-color: #8EDF78;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.text-area {
  height: 400px;
}

.footer-container {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px); 
  background-color: rgba(46, 204, 113, 0.8);
}

.footer-text-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
  font-weight: 100;
  position: fixed;
  bottom: 50px;
}

.ul-footer {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 25px;
  padding: 0px;
  position: fixed;
  bottom: 10px;
}

.img-footer {
  width: 50px;
  height: auto;
  padding: 0px;
  transition: .4s;
}

.img-footer:hover {
  width: 55px;
  height: auto;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}




